<?xml version="1.0"?>

<appSettings>
  <add key="DefaultConnectionString" value="Server=localhost;Database=ITJakubDB;User Id=admin;Password=admin;" />
  <add key="MainConnectionString" value="Server=localhost;Database=VokabularDB;User Id=admin;Password=admin;" />
  <add key="WebConnectionString" value="Server=localhost;Database=VokabularWebDB;User Id=admin;Password=admin;" />
  <add key="ExistDbUser" value="admin" />
  <add key="ExistDbPassword" value="admin" />
</appSettings>