<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings xdt:Transform="SetAttributes(file)" file="bin\ITJakub.Secrets.Development.config">
    <!--FileProcessingService config:-->
    <add key="FulltextServiceEndpoint" value="http://localhost:85/Development/Vokabular.FulltextService/api/" xdt:Locator="Match(key)" xdt:Transform="Replace" />
  </appSettings>

  <applicationSettings>
    <!--FileProcessingService config:-->
    <ITJakub.FileProcessing.Service.Properties.Settings>
      <setting name="FileStorageRootFolder" serializeAs="String" xdt:Locator="Match(name)" xdt:Transform="Replace">
        <value>C:\ITJLocalStorageDevelopment</value>
      </setting>
    </ITJakub.FileProcessing.Service.Properties.Settings>
  </applicationSettings>

  <castle>
    <properties>
      <!--SearchService config:-->
      <baseUri xdt:Transform="Replace">http://localhost:8080/exist/rest</baseUri>
      <viewsCollection xdt:Transform="Replace">jacob-develop</viewsCollection>
      <xQueriesRelativeUri xdt:Transform="Replace">/db/apps/jacob-develop/queries</xQueriesRelativeUri>
      <transformationRelativeUri xdt:Transform="Replace">/db/apps/jacob-develop/transformations</transformationRelativeUri>
      <booksRelativeUri xdt:Transform="Replace">/db/apps/jacob-develop/books</booksRelativeUri>
      <bibliographyRelativeUri xdt:Transform="Replace">/db/apps/jacob-develop/bibliography</bibliographyRelativeUri>
	  
	  <!--FileProcessingService config:-->
	  <rootFolder xdt:Transform="Replace">C:\TMP\ResourceRootDevelopment</rootFolder>
    </properties>
  </castle>

  <system.serviceModel>
    <!--FileProcessingService config:-->
    <client>
      <endpoint xdt:Locator="Match(name)" xdt:Transform="SetAttributes(address)"
                address="http://localhost:85/Development/ITJakub.SearchService/SearchService.svc"
                name="BasicHttpBinding_ISearchService" />
    </client>
  </system.serviceModel>
  
  <system.web>
    <!--<compilation xdt:Transform="RemoveAttributes(debug)" />-->
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>